header img {
    width:2000px;
    height:1000px;
}

main p {
    font-size:20px;
    background-color: ;

}

body {
    background-color:black;
    color: yellow;

}

table {
    color:white;
    
}


.cait {
    color:rgb(138, 138, 63);

}
