header img {
    width:1500px;
    height:500px;
}

main p {
    font-size:20px;
    

}

body {
    background-color:black;
    color: yellow;

}

table {
    color:white;
    
}


footer a {
    color:rgb(138, 138, 63);

}


